* {
    margin: 0;
    padding: 0;
    font-size: 1em;
    text-decoration: none;
    border: none;
    list-style: none;
    outline: none;
}

html {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-top: 6px solid #E2E2E2;
    border-bottom: 6px solid #E2E2E2;
    background-image: url(../images/bg.png);
}

body {
    font: 11px/1.231 "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 760px;
    margin: -180px 0 0 -300px;
    text-shadow: #FFF 0 1px 0;
}

a, b {
    color: #444;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
    margin: 0 3px 0 3px;
}
a {
    padding-bottom: 5px;
    border-bottom: 1px dotted #CCC;
}

hr {
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #FFF;
    margin: 0 0 30px 0;
}

span {
    color: #999;
    margin: 0 15px 0 0;
}

p {
    margin: 0 0 20px 0;
}

header, footer {
    display: block;
}

footer {
    margin: 40px 0 0 0;
}

#logo {
    float: left;
    background-image: url(../images/header.png);
    background-repeat: no-repeat;
    height: 44px;
    width: 444px;
    text-indent: -1000px;
}

#accepting {
    font-size: 11px;
    color: #999;
    float: left;
    height: 44px;
    width: 196px;
    line-height: 23px;
    margin: 0 0 0 23px;
}

.borderradius .light {
    position: relative;
    left: -20px;
    top: 17px;
    display: block;
    height: 8px;
    width: 8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.borderradius .go {
    background-color: #69972A;
}

.borderradius .stop {
    background-color: #922A2A;
}

.no-borderradius .light {
    position: relative;
    left: -20px;
    top: 17px;
    display: block;
    height: 8px;
    width: 8px;
}

.no-borderradius .go {
    background-image: url(../images/ie_go.png);
    background-repeat: no-repeat;
}

.no-borderradius .stop {
    background-image: url(../images/ie_stop.png);
    background-repeat: no-repeat;
}

.container {
    width: 326px;
    margin: 0 0 0 108px;
    color: #666;
    font-size: 1.2em;
}

#about {
    margin-top: 70px;
}